@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #FFFFFF;
}

.get {
  display: flex;
  column-gap: 18px;
  cursor: pointer;
}
.get h5 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000000;
}
.get h5:hover {
  border-bottom: 1px solid #000000;
}

.bet {
  display: flex;
  column-gap: 18px;
  cursor: pointer;
}
.bet h5 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.bet h5:hover {
  border-bottom: 1px solid #FFFFFF;
}

header .container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 40px;
}
header .container .header__all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
header .container .header__all nav ul {
  display: flex;
  column-gap: 37px;
}
header .container .header__all nav ul li {
  list-style: none;
}
header .container .header__all nav ul li a {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000000;
  transition: 0.4s;
}
header .container .header__all nav ul li a:hover {
  color: #000000;
  opacity: 0.3;
}
header .container .header__all button {
  padding: 12px 24px;
  background-color: #000000;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  transition: 0.4s;
}
header .container .header__all button:hover {
  background-color: #DFDFDF;
  color: #000000;
}
header .container .header__all .gumburg {
  display: none;
}

main .container {
  max-width: 1440px;
  margin: 0 auto;
}
main .container .main__all .baground {
  background-image: url("../img/baground-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px;
}
main .container .main__all .baground .baground__text {
  display: block;
  opacity: 0.6;
  padding: 122px 112px;
}
main .container .main__all .baground .baground__text h5 {
  max-width: 246px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  margin-bottom: 24px;
  color: #FFFFFF;
}
main .container .main__all .baground .baground__text h2 {
  max-width: 380px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.1666665077px;
  margin-bottom: 16px;
  color: #FFFFFF;
}
main .container .main__all .baground .baground__text h4 {
  max-width: 387px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 24px;
  opacity: 0.6;
  color: #FFFFFF;
}
main .container .main__all .baground .baground__text .bet {
  max-width: 184px;
}
main .container .main__all .baground .baground__text .bet h5 {
  margin-bottom: 0;
}
main .container .main__all .baground__text {
  display: none;
  padding: 122px 112px;
}
main .container .main__all .baground__text h5 {
  max-width: 246px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  margin-bottom: 24px;
  color: #FFFFFF;
}
main .container .main__all .baground__text h2 {
  max-width: 380px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.1666665077px;
  margin-bottom: 16px;
  color: #FFFFFF;
}
main .container .main__all .baground__text h4 {
  max-width: 387px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 24px;
  opacity: 0.6;
  color: #FFFFFF;
}
main .container .main__all .baground__text .bet {
  max-width: 184px;
}
main .container .main__all .baground__text .bet h5 {
  margin-bottom: 0;
}
main .container .main__all .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .container .main__all .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/mountaines.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
  cursor: pointer;
  transition: 0.4s;
}
main .container .main__all .cards .card .card__text {
  padding: 40px;
}
main .container .main__all .cards .card .card__text h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 4px;
  color: #FFFFFF;
}
main .container .main__all .cards .card .card__text p {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  margin-bottom: 16px;
  color: #FFFFFF;
}
main .container .main__all .cards .card .card__text .lis {
  max-width: 280px;
  height: 1px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
main .container .main__all .cards .card .card__text .read {
  max-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container .main__all .cards .card:hover {
  transform: translateY(-40px);
  border-bottom: 6px solid #BC7198;
}
main .container .main__all .cards .card__one {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/sunset.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__two {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/voyage.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__tree {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/archete.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__four {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/world.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__five {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/unforissen.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__sex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/king.jpg");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__seven {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/the.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__nine {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/rage.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__ten {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/running.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__eleven {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/behind.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__twellef {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/calm.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__treeten {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/milky.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__fourten {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/night.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__fiveten {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/somvar.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}
main .container .main__all .cards .card__sexten {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/land.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 500px;
}

footer {
  background-color: #000000;
}
footer .container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 40px;
}
footer .container .footer__all {
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
}
footer .container .footer__all .phot {
  display: flex;
  column-gap: 109px;
}
footer .container .footer__all .phot .displey .white__logo img {
  margin-bottom: 85px;
}
footer .container .footer__all .phot .displey .nav__tage {
  display: none;
  margin-top: 32px;
}
footer .container .footer__all .phot .displey .nav__tage nav ul li {
  display: flex;
  column-gap: 26px;
  list-style: none;
}
footer .container .footer__all .phot .displey .nav__tage nav ul li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
footer .container .footer__all .phot .displey .icon .svg__one {
  display: flex;
  column-gap: 13px;
}
footer .container .footer__all .phot .displey .icon .svg__one .one__img:hover svg path {
  fill: #6028F1;
  cursor: pointer;
  transition: 0.4s;
}
footer .container .footer__all .phot .displey .icon .svg__one .two__img:hover svg path {
  fill: #D3205A;
  cursor: pointer;
  transition: 0.4s;
}
footer .container .footer__all .phot .displey .icon .svg__one .tree__img:hover svg path {
  fill: #27718A;
  cursor: pointer;
  transition: 0.4s;
}
footer .container .footer__all .phot .displey .icon .svg__one .four__img:hover svg path {
  fill: #DE3838;
  cursor: pointer;
  transition: 0.4s;
}
footer .container .footer__all .phot .displey .icon .svg__one .five__img:hover svg path {
  fill: #BC7198;
  transition: 0.4s;
  cursor: pointer;
}
footer .container .footer__all .phot .navegation nav ul li a {
  display: flex;
  margin-bottom: 19px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  transition: 0.4s;
  color: #FFFFFF;
}
footer .container .footer__all .phot .navegation nav ul li a:hover {
  opacity: 0.4;
}
footer .container .footer__all .a__link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .container .footer__all .a__link .bet {
  margin-bottom: 85px;
}
footer .container .footer__all .a__link a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

@media (max-width: 950px) {
  main .container .main__all .baground {
    background-image: url("../img/baground-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
  }
  main .container .main__all .baground .baground__text {
    padding: 122px 40px;
  }
  main .container .main__all .baground .baground__text h5 {
    max-width: 260px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    margin-bottom: 24px;
    color: #FFFFFF;
  }
  main .container .main__all .baground .baground__text h2 {
    max-width: 380px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.1666665077px;
    margin-bottom: 16px;
    color: #FFFFFF;
  }
  main .container .main__all .baground .baground__text h4 {
    max-width: 387px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    margin-bottom: 24px;
    color: #FFFFFF;
  }
  main .container .main__all .baground .baground__text .bet {
    max-width: 184px;
  }
  main .container .main__all .baground .baground__text .bet h5 {
    margin-bottom: 0;
  }
}
@media (max-width: 870px) {
  main .container .main__all .baground {
    background-image: url("../img/des-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
  }
  main .container .main__all .baground .baground__text {
    display: none;
    padding: 122px 40px;
  }
  main .container .main__all .baground .baground__text h5 {
    max-width: 260px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    margin-bottom: 24px;
    color: #FFFFFF;
  }
  main .container .main__all .baground .baground__text h2 {
    max-width: 380px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.1666665077px;
    margin-bottom: 16px;
    color: #FFFFFF;
  }
  main .container .main__all .baground .baground__text h4 {
    max-width: 387px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    margin-bottom: 24px;
    color: #FFFFFF;
  }
  main .container .main__all .baground .baground__text .bet {
    max-width: 184px;
  }
  main .container .main__all .baground .baground__text .bet h5 {
    margin-bottom: 0;
  }
  main .container .main__all .baground__text {
    display: block;
    padding: 48px 30px;
    background-color: #000000;
  }
  main .container .main__all .baground__text h5 {
    max-width: 260px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    margin-bottom: 24px;
    color: #FFFFFF;
  }
  main .container .main__all .baground__text h2 {
    max-width: 380px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.1666665077px;
    margin-bottom: 16px;
    color: #FFFFFF;
  }
  main .container .main__all .baground__text h4 {
    max-width: 387px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    margin-bottom: 24px;
    color: #FFFFFF;
  }
  main .container .main__all .baground__text .bet {
    max-width: 184px;
  }
  main .container .main__all .baground__text .bet h5 {
    margin-bottom: 0;
  }
}
@media (max-width: 760px) {
  header .container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 40px;
  }
  header .container .header__all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
  header .container .header__all nav {
    display: none;
  }
  header .container .header__all nav ul {
    display: flex;
    column-gap: 37px;
  }
  header .container .header__all nav ul li {
    list-style: none;
  }
  header .container .header__all nav ul li a {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000000;
    transition: 0.4s;
  }
  header .container .header__all nav ul li a:hover {
    color: #000000;
    opacity: 0.3;
  }
  header .container .header__all button {
    display: none;
    padding: 12px 24px;
    background-color: #000000;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    transition: 0.4s;
  }
  header .container .header__all button:hover {
    background-color: #DFDFDF;
    color: #000000;
  }
  header .container .header__all .gumburg {
    display: block;
  }
  main .container .main__all .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .container .main__all .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/mountaines.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
    cursor: pointer;
    transition: 0.4s;
  }
  main .container .main__all .cards .card .card__text {
    padding: 40px;
  }
  main .container .main__all .cards .card .card__text h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    margin-bottom: 4px;
    color: #FFFFFF;
  }
  main .container .main__all .cards .card .card__text p {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    margin-bottom: 16px;
    color: #FFFFFF;
  }
  main .container .main__all .cards .card .card__text .lis {
    max-width: 280px;
    height: 1px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
  }
  main .container .main__all .cards .card .card__text .read {
    max-width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main .container .main__all .cards .card:hover {
    transform: translateY(-40px);
    border-bottom: 6px solid #BC7198;
  }
  main .container .main__all .cards .card__one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/sunset.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/voyage.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__tree {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/archete.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__four {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/world.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__five {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/unforissen.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__sex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/king.jpg");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__seven {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/the.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__nine {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/rage.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__ten {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/running.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__eleven {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/behind.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__twellef {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/calm.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__treeten {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/milky.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__fourten {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/night.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__fiveten {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/somvar.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  main .container .main__all .cards .card__sexten {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/land.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 375px;
  }
  footer {
    background-color: #000000;
  }
  footer .container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 40px;
  }
  footer .container .footer__all {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
  }
  footer .container .footer__all .phot {
    display: flex;
    column-gap: 109px;
  }
  footer .container .footer__all .phot .displey .white__logo img {
    margin-bottom: 0;
  }
  footer .container .footer__all .phot .displey .nav__tage {
    display: block;
    margin-top: 32px;
  }
  footer .container .footer__all .phot .displey .nav__tage nav {
    margin-bottom: 72px;
  }
  footer .container .footer__all .phot .displey .nav__tage nav ul li {
    display: flex;
    column-gap: 26px;
    list-style: none;
  }
  footer .container .footer__all .phot .displey .nav__tage nav ul li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
  }
  footer .container .footer__all .phot .displey .icon .svg__one {
    display: flex;
    column-gap: 13px;
  }
  footer .container .footer__all .phot .displey .icon .svg__one .one__img:hover svg path {
    fill: #6028F1;
    cursor: pointer;
    transition: 0.4s;
  }
  footer .container .footer__all .phot .displey .icon .svg__one .two__img:hover svg path {
    fill: #D3205A;
    cursor: pointer;
    transition: 0.4s;
  }
  footer .container .footer__all .phot .displey .icon .svg__one .tree__img:hover svg path {
    fill: #27718A;
    cursor: pointer;
    transition: 0.4s;
  }
  footer .container .footer__all .phot .displey .icon .svg__one .four__img:hover svg path {
    fill: #DE3838;
    cursor: pointer;
    transition: 0.4s;
  }
  footer .container .footer__all .phot .displey .icon .svg__one .five__img:hover svg path {
    fill: #BC7198;
    transition: 0.4s;
    cursor: pointer;
  }
  footer .container .footer__all .phot .navegation {
    display: none;
  }
  footer .container .footer__all .phot .navegation nav ul li a {
    display: flex;
    margin-bottom: 19px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    transition: 0.4s;
    color: #FFFFFF;
  }
  footer .container .footer__all .phot .navegation nav ul li a:hover {
    opacity: 0.4;
  }
  footer .container .footer__all .a__link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  footer .container .footer__all .a__link a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
}
@media (max-width: 680px) {
  footer {
    background-color: #000000;
  }
  footer .container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 40px;
  }
  footer .container .footer__all {
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
  }
  footer .container .footer__all .phot {
    flex-direction: column;
    align-items: center;
  }
  footer .container .footer__all .phot .displey .white__logo img {
    margin-bottom: 0;
  }
  footer .container .footer__all .phot .displey .nav__tage {
    display: none;
    margin-top: 32px;
  }
  footer .container .footer__all .phot .displey .nav__tage nav {
    margin-bottom: 72px;
  }
  footer .container .footer__all .phot .displey .nav__tage nav ul li {
    display: flex;
    align-items: center;
  }
  footer .container .footer__all .phot .displey .nav__tage nav ul li a {
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
  }
  footer .container .footer__all .phot .displey .icon {
    margin-bottom: 49px;
  }
  footer .container .footer__all .phot .displey .icon .svg__one {
    display: flex;
    column-gap: 16px;
    margin-top: 32px;
  }
  footer .container .footer__all .phot .displey .icon .svg__one .one__img:hover svg path {
    fill: #6028F1;
    cursor: pointer;
    transition: 0.4s;
  }
  footer .container .footer__all .phot .displey .icon .svg__one .two__img:hover svg path {
    fill: #D3205A;
    cursor: pointer;
    transition: 0.4s;
  }
  footer .container .footer__all .phot .displey .icon .svg__one .tree__img:hover svg path {
    fill: #27718A;
    cursor: pointer;
    transition: 0.4s;
  }
  footer .container .footer__all .phot .displey .icon .svg__one .four__img:hover svg path {
    fill: #DE3838;
    cursor: pointer;
    transition: 0.4s;
  }
  footer .container .footer__all .phot .displey .icon .svg__one .five__img:hover svg path {
    fill: #BC7198;
    transition: 0.4s;
    cursor: pointer;
  }
  footer .container .footer__all .phot .navegation {
    display: block;
    margin-bottom: 119px;
  }
  footer .container .footer__all .phot .navegation nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .container .footer__all .phot .navegation nav ul li a {
    margin-bottom: 19px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    transition: 0.4s;
    color: #FFFFFF;
  }
  footer .container .footer__all .phot .navegation nav ul li a:hover {
    opacity: 0.4;
  }
  footer .container .footer__all .a__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  footer .container .footer__all .a__link .bet {
    margin-bottom: 34px;
  }
  footer .container .footer__all .a__link a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
}/*# sourceMappingURL=stories.css.map */